/* 全局样式重置 */
body {
    margin: 0; /* 移除默认的外边距 */
    padding: 0; /* 移除默认的内边距 */
    background: url('https://cdn.koxiuqiu.cn/ccss/ecyrw/ecy%20(68).png') no-repeat center center fixed; /* 设置背景图片，不重复，居中，固定 */
    background-size: cover; /* 背景图片覆盖整个可视区域 */
}

/* 应用自定义字体到body元素 */
body {
    font-family: SimSun; /* 优先使用自定义字体，如果不可用则使用无衬线字体 */
    font-size: 18px; /* 设置字体大小 */
}

/* 容器样式 */
.container {
    display: flex; /* 使用flex布局 */
    flex-direction: column; /* 子元素垂直排列 */
    align-items: center; /* 水平居中 */
    justify-content: center; /* 垂直居中 */
    width: fit-content; /* 宽度自适应内容 */
    margin: auto; /* 水平居中 */
    padding: 20px; /* 内边距 */
    background-color: rgba(255, 255, 255, 0.3); /* 半透明背景色 */
    border-radius: 15px; /* 圆角边框 */
    backdrop-filter: blur(10px); /* 背景模糊效果 */
    transition: background-color 0.3s; /* 背景颜色过渡效果 */
    position: absolute; /* 绝对定位 */
    top: 50%; /* 向下偏移50% */
    left: 50%; /* 向右偏移50% */
    transform: translate(-50%, -50%); /* 向上和向左偏移自身宽高的50%，实现居中 */
}

/* 头部样式 */
.header {
    color: #e5c8fc; /* 文字颜色 */
    text-shadow: 1px 1px 1px black; /* 文字阴影 */
    text-align: left; /* 文字左对齐 */
}

/* 标题和内容组合样式 */
.title-content-pair {
    display: flex; /* 使用flex布局 */
    margin-bottom: 20px; /* 底部外边距 */
}

/* 标题样式 */
.title {
    flex-basis: 40%; /* 占据flex容器的40%宽度 */
    font-weight: bold; /* 加粗字体 */
}

/* 内容样式 */
.content {
    flex-basis: 60%; /* 占据flex容器的60%宽度 */
}

/* 加入按钮样式 */
.join {
    display: inline-block; /* 行内块元素 */
    padding: 10px 20px; /* 内边距 */
    margin-top: 10px; /* 上外边距 */
    background-color: #de91fc; /* 背景颜色 */
    color: white; /* 文字颜色 */
    text-decoration: none; /* 移除下划线 */
    border-radius: 5px; /* 圆角边框 */
    transition: background-color 0.3s ease; /* 背景颜色过渡效果 */
}

/* 按钮容器样式 */
.join-container {
    display: flex; /* 使用flex布局 */
    justify-content: center; /* 水平居中按钮 */
}

h1 {
    text-align: center; /* 文字居中 */
}
/* 段落样式 */
p {
    color: white; /* 文字颜色 */
    text-shadow: 2px 2px 5px black; /* 文字阴影 */
    text-align: center; /* 文字居中 */
}

.footer {
    position: fixed; /* 使用固定定位 */
    left: 0; /* 左侧对齐 */
    right: 0; /* 右侧对齐 */
    bottom: 0; /* 底部对齐 */
    width: auto; /* 宽度自动适应内容 */
    margin: 0 auto; /* 水平居中 */
    height: auto; /* 高度自动适应内容 */
    padding: 20px; /* 内边距 */
    text-align: center; /* 文本居中 */
    background-color: rgba(255, 255, 255, 0.3); /* 背景颜色，带有透明度 */
    border-radius: 5px; /* 边框圆角 */
    backdrop-filter: blur(10px); /* 背景模糊效果 */
}


/* 底部链接样式 */
.footer a {
    color: white; /* 文本颜色 */
    text-decoration: none; /* 移除下划线 */
    margin: 0 10px; /* 外边距 */
    text-shadow: 2px 2px 5px black; /* 文本阴影效果 */
}

/* 底部链接悬浮、访问、激活时的样式 */
.footer a:hover,
.footer a:visited,
.footer a:active {
    color: white; /* 文本颜色保持不变 */
}
